xsd/ARRC030.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="ARRC030"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cip-bancos.org.br/ARQ/ARRC030.xsd"
           xmlns="http://www.cip-bancos.org.br/ARQ/ARRC030.xsd"
           xmlns:cat="http://www.cip-bancos.org.br/catalogomsg"
           elementFormDefault="qualified"
           version="8.6">

    <xs:include schemaLocation="ARRCTIPOS.xsd"/>

    <!-- Definição do ARRCDOC do arquivo -->
    <xs:complexType name="ARRCDOCComplexType">
        <xs:sequence>
            <xs:element name="BCARQ" type="BCARQComplexType"/>
            <xs:element name="SISARQ" type="SISARQComplexType"/>
            <xs:element name="ESTARQ" type="ESTARQSimpleType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do SISARQ -->
    <xs:complexType name="SISARQComplexType">
        <xs:choice>
            <xs:element name="ARRC030" type="ARRC030ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>
                                ARRC030 - Destinado ao credenciador informar a registradora CIP a lista de credenciados ativos que poderão que poderão possuir unidades de recebiveis e/ou negociações registradas
                            </cat:Descricao>
                            <cat:Emissor>Participante Credenciadora</cat:Emissor>
                            <cat:Destinatario>R2C3</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ARRC030RET" type="ARRC030RETComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>
                                ARRC030 - Destinado ao credenciador informar a registradora CIP a lista de credenciados ativos que poderão que poderão possuir unidades de recebiveis e/ou negociações registradas
                            </cat:Descricao>
                            <cat:Emissor>Participante Credenciadora</cat:Emissor>
                            <cat:Destinatario>R2C3</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <!-- Definição do ARRCDOC -->
    <xs:element name="ARRCDOC" type="ARRCDOCComplexType">
        <xs:annotation>
            <xs:documentation>
                <cat:InfEvento>
                    <cat:Evento>
                        ARRC030 - Credenciador - Destinado ao credenciador informar a registradora CIP a lista de credenciados ativos que poderão possuir unidades de recebíveis e/ou negociações registradas.
                    </cat:Evento>
                    <cat:Descricao>
                        Credenciador
                    </cat:Descricao>
                </cat:InfEvento>
            </xs:documentation>
        </xs:annotation>
    </xs:element>


    <xs:complexType name="ARRC030ComplexType">
        <xs:sequence>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC030_Credd" type="Grupo_ARRC030_CreddComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo credenciado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ARRC030RETComplexType">
        <xs:sequence>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC030RET_CreddActo" type="Grupo_ARRC030_CreddComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo credenciado Aceito
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC030RET_CreddRecsdo" type="Grupo_ARRC030RET_CreddRecsdoComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo credenciado Recusado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC030_CreddComplexType">
        <xs:sequence>
            <xs:element name="IndrManutCad" type="IndrManutCad">
                <xs:annotation>
                    <xs:documentation>
                        Indicador de manutenção de cadastro
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpPessoa" type="TpPessoa">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Tipo de Pessoa
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CPF_CNPJCli" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CPF ou CNPJ do Cliente
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Nom_RzSocCli" type="Nom_RzSoc" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Nome ou Razão Social do Cliente
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NomFants" type="NomFants" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Nome Fantasia
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="End" type="End" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Endereço
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CEP" type="CEP" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        CEP
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Munic" type="Munic" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Municipio
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UF" type="UF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        UF
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC030RET_CreddRecsdoComplexType">
        <xs:sequence>
            <xs:element name="IndrManutCad" type="IndrManutCadCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador de manutenção de cadastro
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpPessoa" type="TpPessoaCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Tipo de Pessoa
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CPF_CNPJCli" type="CNPJ_CPFCodErr">
                <xs:annotation>
                    <xs:documentation>
                        CPF ou CNPJ do Cliente
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Nom_RzSocCli" type="Nom_RzSoc" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Nome ou Razão Social do Cliente
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NomFants" type="NomFants" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Nome Fantasia
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="End" type="End" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Endereço
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CEP" type="CEPCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        CEP
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Munic" type="Munic" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Municipio
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UF" type="UF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        UF
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>