xsd/ARRC018.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="ARRC018"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cip-bancos.org.br/ARQ/ARRC018.xsd"
           xmlns="http://www.cip-bancos.org.br/ARQ/ARRC018.xsd"
           xmlns:cat="http://www.cip-bancos.org.br/catalogomsg"
           elementFormDefault="qualified"
           version="8.6">

    <xs:include schemaLocation="ARRCTIPOS.xsd"/>

    <!-- Definição do ARRCDOC do arquivo -->
    <xs:complexType name="ARRCDOCComplexType">
        <xs:sequence>
            <xs:element name="BCARQ" type="BCARQComplexType"/>
            <xs:element name="SISARQ" type="SISARQComplexType"/>
            <xs:element name="ESTARQ" type="ESTARQSimpleType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do SISARQ -->
    <xs:complexType name="SISARQComplexType">
        <xs:sequence>
            <xs:element name="ARRC018" type="ARRC018ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>ARRC018 - Financiador/Não Financeira - Informação de Recebíveis
                            </cat:Descricao>
                            <cat:Emissor>CIP</cat:Emissor>
                            <cat:Destinatario>Participante</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do ARRCDOC -->
    <xs:element name="ARRCDOC" type="ARRCDOCComplexType">
        <xs:annotation>
            <xs:documentation>
                <cat:InfEvento>
                    <cat:Evento>
                        ARRC018 - Financiador/Não Financeira - Informação de Recebíveis
                    </cat:Evento>
                    <cat:Descricao>
                        ARRC018 - Financiador/Não Financeira - Informação de Recebíveis
                    </cat:Descricao>
                </cat:InfEvento>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- Definição do ARRC018 -->
    <xs:complexType name="ARRC018ComplexType">
        <xs:sequence>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJER" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Registradora responsável pela agenda
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJCreddrSub" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ do Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_ArrajPgto" type="Grupo_ARRC018_ArrajPgto_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Arranjo de Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_ArrajPgto_ComplexType">
        <xs:sequence>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código do arranjo de pagamentos
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_UsuFinalRecbdr" type="Grupo_ARRC018_UsuFinalRecbdr_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo EC - Estabelecimento Comercial
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_Titlar" type="Grupo_ARRC018_Titlar_2_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_UsuFinalRecbdr_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do usuário final recebedor - Estabelecimento comercial
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrLivreUsuFinalRecbdr" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor total livre em todas as unidades de recebíveis do usuário final recebedor para a
                        credenciadora/subcredenciadora e arranjo de pagamento (Soma das UR's)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_UniddRecbvl" type="Grupo_ARRC018_UniddRecbvl_ComplexType"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Unidade de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_UniddRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data prevista de liquidação da unidade de recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrTot" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor total constituído da UR - valor total liquido - somatória dos valores abaixo (linha 14 a
                        18)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrDomcl" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador se o valor livre é de domicilio próprio (SIM/NÃO)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_Titlar" type="Grupo_ARRC018_Titlar_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_Titlar_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrTotTitlar" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Total Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrComprtdOutrInst" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Comprometido em Outras Instituições
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrComprtdInst" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Comprometido na Instituição
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrLivreTot" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Livre Total
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrLivreAntecCreddrSub" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Previsto Pré-Contratado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPreContrd" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Livre Onus
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrOnusResTec" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Livre Antecipação Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_DomclBancInst" type="Grupo_ARRC018_DomclBancInst_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_NegcRecbvOutrasInst" type="Grupo_ARRC018_NegcRecbvOutrasInst_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_DomclBancInst_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFTitlarCt" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpCt" type="TpConta">
                <xs:annotation>
                    <xs:documentation>
                        Tipo Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ag" type="Agencia" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Agência
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ct" type="CtBancaria" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtPgto" type="CtPgto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtEftLiquid" type="Data" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Data Efetiva Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrEftLiquid" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Efetivo Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrLivre" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Livre
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_NegcRecbvlInst" type="Grupo_ARRC018_NegcRecbvlInst_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_DomclBancInst_2_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFTitlarCt" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpCt" type="TpConta">
                <xs:annotation>
                    <xs:documentation>
                        Tipo Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ag" type="Agencia" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Agência
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ct" type="CtBancaria" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtPgto" type="CtPgto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtEftLiquid" type="Data" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Data Efetiva Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrEftLiquid" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Efetivo Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrLivre" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Livre
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_NegcRecbvlInst" type="Grupo_ARRC018_NegcRecbvlInst_2_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_NegcRecbvlInst_ComplexType">
        <xs:sequence>
            <xs:element name="IdentdOp" type="IdentificadorOperacao">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PriorddNegcRecbvl" type="Prioridade">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJER" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcdConstitr" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor ou percentual a constituir IF credora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivs">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtFimOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Fim Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_NegcRecbvlInst_2_ComplexType">
        <xs:sequence>
            <xs:element name="IdentdOp" type="IdentificadorOperacao">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PriorddNegcRecbvl" type="Prioridade">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJER" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcdConstitr" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor ou percentual a constituir IF credora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivs" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtFimOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Fim Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_NegcRecbvOutrasInst_ComplexType">
        <xs:sequence>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivs">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcdConstitr" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor ou percentual a constituir IF credora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtFimOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Fim Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PriorddNegcRecbvl" type="Prioridade">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_NegcRecbvOutrasInst_2_ComplexType">
        <xs:sequence>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivs">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcdConstitr" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor ou percentual a constituir IF credora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtFimOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Fim Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PriorddNegcRecbvl" type="Prioridade">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_Titlar_2_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_UniddRecbvl" type="Grupo_ARRC018_UniddRecbvl_2_ComplexType"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC018_UniddRecbvl_2_ComplexType">
        <xs:sequence>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data prevista de liquidação da unidade de recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrTotTitlar" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Total Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrComprtdOutrInst" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Comprometido em Outras Instituições
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrComprtdInst" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Comprometido na Instituição
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrLivreTot" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Livre Total.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrLivreAntecCreddrSub" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Livre Antecipação Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPreContrd" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Pré-contratado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrOnusResTec" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor livre para negociação de gravame e cessão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC018_DomclBancInst" type="Grupo_ARRC018_DomclBancInst_2_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Grupo_ARRC018_NegcRecbvOutrasInst" type="Grupo_ARRC018_NegcRecbvOutrasInst_2_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>

    </xs:complexType>

</xs:schema>