xsd/ARRC022.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="ARRC022"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cip-bancos.org.br/ARQ/ARRC022.xsd"
           xmlns="http://www.cip-bancos.org.br/ARQ/ARRC022.xsd"
           xmlns:cat="http://www.cip-bancos.org.br/catalogomsg"
           elementFormDefault="qualified"
           version="8.6">

    <xs:include schemaLocation="ARRCTIPOS.xsd"/>

    <!-- Definição do ARRCDOC do arquivo -->
    <xs:complexType name="ARRCDOCComplexType">
        <xs:sequence>
            <xs:element name="BCARQ" type="BCARQComplexType"/>
            <xs:element name="SISARQ" type="SISARQComplexType"/>
            <xs:element name="ESTARQ" type="ESTARQSimpleType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do SISARQ -->
    <xs:complexType name="SISARQComplexType">
        <xs:choice>
            <xs:element name="ARRC022" type="ARRC022ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>ARRC022 - Financiador/Não Financeira - Operações Gravame e Cessão Lote (Negociação de Recebíveis)
                            </cat:Descricao>
                            <cat:Emissor>Participante</cat:Emissor>
                            <cat:Destinatario>CIP</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ARRC022RET" type="ARRC022RETComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>ARRC022 - Financiador/Não Financeira - Operações Gravame e Cessão Lote (Negociação de Recebíveis)
                            </cat:Descricao>
                            <cat:Emissor>CIP</cat:Emissor>
                            <cat:Destinatario>Participante</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <!-- Definição do ARRCDOC -->
    <xs:element name="ARRCDOC" type="ARRCDOCComplexType">
        <xs:annotation>
            <xs:documentation>
                <cat:InfEvento>
                    <cat:Evento>
                        ARRC022 - Financiador/Não Financeira - Operações Gravame e Cessão Lote (Negociação de Recebíveis)
                    </cat:Evento>
                    <cat:Descricao>
                        INSTITUIÇÃO FINANCEIRA / NÃO FINANCEIRA - CIP/REGISTRADORA
                    </cat:Descricao>
                </cat:InfEvento>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- Definição do ARRC022 -->
    <xs:complexType name="ARRC022ComplexType">
        <xs:sequence>
            <xs:element name="Grupo_ARRC022_AtlzNegcRecbvl" type="Grupo_ARRC022_AtlzNegcRecbvl_ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Atualização Negociação de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_AtlzNegcRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022_NegcRecbvl" type="Grupo_ARRC022_NegcRecbvl_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Consulta Negociação Recebíveis.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_NegcRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="IdentdNegcRecbvl" type="ControleNegociacaoRecebivel">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Negociação Recebível.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOp" type="IdentificadorOperacao" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrTpNegc" type="IndrTpNegc">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Tipo Negociação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtVencOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Vencimento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrTotLim_SldDevdr" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor Total Limite ou Saldo Devedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vlr_Gar" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Garantia
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrGestER" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Gestão Entidade Registradora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivs">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrAlcancContrtoCreddrSub" type="IndrAlcancContrtoCreddrSub">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Alcance Contrato Credenciadoras/Subcredenciadoras
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrActeIncondlOp" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Aceite Incondicional Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrActeUniddRecbvlReserv" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Aceite Unidade de Recebível Reservada.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrIA" type="IndrIA">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Inclusão ou Alteração
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOpDescstcNegcRecbvl" type="Identificador" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação Desconsituição da Negociação de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="IndrAutcCess" type="Indr"  minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Autorização Cessão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Grupo_ARRC022_CesAutd" type="Grupo_ARRC022_CesAutd_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Cessionário Autorizado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022_RenegcDiv" type="Grupo_ARRC022_RenegcDiv_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Renegociação de Dívida
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Grupo_ARRC022_GestER" type="Grupo_ARRC022_GestER_ComplexType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Gestão ER
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022_GestPart" type="Grupo_ARRC022_GestPart_ComplexType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Gestão Participante
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_GestER_ComplexType">
        <xs:sequence>
            <xs:element name="Grupo_ARRC022_Titlar" type="Grupo_ARRC022_Titlar_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_Titlar_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF  Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vlr_PercTotOpUniddRecbvl" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor Total Limite ou Saldo Devedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtIniOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Início Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtFimOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Fim Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitlarCt" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular Conta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISPBBcoRecbdr" type="ISPB">
                <xs:annotation>
                    <xs:documentation>
                        ISPB Banco Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpCt" type="TpConta">
                <xs:annotation>
                    <xs:documentation>
                        Tipo Conta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ag" type="Agencia" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Agência.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ct" type="CtBancaria" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtPgto" type="CtPgto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta Pagamento.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022_CreddrSub" type="Grupo_ARRC022_CreddrSub_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Cred/SubCred
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022_ArrajPgto" type="Grupo_ARRC022_ArrajPgto_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Arranjo Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022_UsuFinalRecbdr" type="Grupo_ARRC022_UsuFinalRecbdr_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Usuário FInal Recebedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_GestPart_ComplexType">
        <xs:sequence>
            <xs:element name="Grupo_ARRC022_Titlar" type="Grupo_ARRC022_Titlar_GestPart_ComplexType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_Titlar_GestPart_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF  Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Grupo_ARRC022_DomclBanc" type="Grupo_ARRC022_DomclBanc_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Credenciador/SubCredenciador
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_DomclBanc_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFTitlarCt" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISPBBcoRecbdr" type="ISPB">
                <xs:annotation>
                    <xs:documentation>
                        ISPB Banco Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpCt" type="TpConta">
                <xs:annotation>
                    <xs:documentation>
                        Tipo Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ag" type="Agencia" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Agência
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ct" type="CtBancaria" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtPgto" type="CtPgto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022_RegRecbvl" type="Grupo_ARRC022_RegRecbvl_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_CreddrSub_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJCreddrSub" type="CNPJErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_ArrajPgto_ComplexType">
        <xs:sequence>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgtoErr">
                <xs:annotation>
                    <xs:documentation>
                        Código Instituidor Arranjo Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_UsuFinalRecbdr_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CNPJBase_CPFUsuFinalRecbdr" type="CNPJ_CNPJBase_CPFErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do Usuário Final Recebedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_RegRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJCreddrSub" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Usuário Final Recebedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código Instituidor Arranjo Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor ou Percentual Negociado.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="ARRC022RETComplexType">
        <xs:sequence>
            <xs:element name="Grupo_ARRC022RET_NegcRecbvl" type="Grupo_ARRC022RET_NegcRecbvl_ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Negociação de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_NegcRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="SitRetReq" type="SitRet">
                <xs:annotation>
                    <xs:documentation>
                        Situação de Retorno da Requisição
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipanteCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipanteCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022RET_NegcRecbvlActo" type="Grupo_ARRC022RET_NegcRecbvlActo_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Negociação Aceito
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022RET_NegcRecbvlRecsdo" type="Grupo_ARRC022RET_NegcRecbvlRecsdo_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Negociação Recusado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_NegcRecbvlActo_ComplexType">
        <xs:sequence>
            <xs:element name="IdentdNegcRecbvl" type="ControleNegociacaoRecebivelCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOp" type="IdentificadorOperacaoCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Operação enviado pela registradora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022RET_RegRecbvl" type="Grupo_ARRC022RET_RegRecbvl_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022RET_Constitr" type="Grupo_ARRC022RET_Constitr_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo a Constituir
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_NegcRecbvlRecsdo_ComplexType">
        <xs:sequence>
            <xs:element name="IdentdNegcRecbvl" type="ControleNegociacaoRecebivelCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Negociação Recebível.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOp" type="IdentificadorOperacaoCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrTpNegc" type="IndrTpNegcErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Tipo Negociação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtVencOp" type="DataCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Data Vencimento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrTotLim_SldDevdr" type="ValorCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Valor Total Limite ou Saldo Devedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vlr_Gar" type="ValorCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Garantia
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrGestER" type="IndrCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Gestão Entidade Registradora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivsCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrAlcancContrtoCreddrSub" type="IndrAlcancContrtoCreddrSubCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Alcance Contrato Credenciadoras/Subcredenciadoras
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrActeIncondlOp" type="IndrCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Aceite Incondicional Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrActeUniddRecbvlReserv" type="IndrCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Aceite Unidade de Recebível Reservada.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrIA" type="IndrIACodErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Inclusão ou Alteração
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOpDescstcNegcRecbvl" type="IdentificadorCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação Desconsituição da Negociação de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="IndrAutcCess" type="Indr"  minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Autorização Cessão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Grupo_ARRC022RET_CesAutd" type="Grupo_ARRC022_CesAutd_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Cessionário Autorizado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022RET_RenegcDiv" type="Grupo_ARRC022RET_RenegcDiv_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Renegociação de Dívida
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Grupo_ARRC022RET_GestER" type="Grupo_ARRC022RET_GestER_ComplexTypeCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Gestão ER
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022RET_GestPart" type="Grupo_ARRC022RET_GestPart_ComplexTypeCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Gestão Participante
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_GestER_ComplexTypeCodErr">
        <xs:annotation>
            <xs:documentation>
                Unidade Recebível Recusada com atributo para retorno de código de erro.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Grupo_ARRC022RET_GestER_ComplexType">
                <xs:attribute name="CodErro" type="CodErro" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_GestPart_ComplexTypeCodErr">
        <xs:annotation>
            <xs:documentation>
                Unidade Recebível Recusada com atributo para retorno de código de erro.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Grupo_ARRC022RET_GestPart_ComplexType">
                <xs:attribute name="CodErro" type="CodErro" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_GestER_ComplexType">
        <xs:sequence>
            <xs:element name="Grupo_ARRC022RET_Titlar" type="Grupo_ARRC022RET_Titlar_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_GestPart_ComplexType">
        <xs:sequence>
            <xs:element name="Grupo_ARRC022RET_Titlar" type="Grupo_ARRC022RET_Titlar_GestPart_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_RegRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="PriorddNegcRecbvl" type="PrioridadeCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPFCodErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do usuário final recebedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPFCodErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJCreddrSub" type="CNPJErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgtoErr">
                <xs:annotation>
                    <xs:documentation>
                        Código do arranjo de pagamentos
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="DataCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrNegcd" type="ValorCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Valor negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_RegRecbvl_ComplexType2">
        <xs:sequence>
            <xs:element name="CNPJCreddrSub" type="CNPJErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPFCodErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do usuário final recebedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPFCodErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgtoErr">
                <xs:annotation>
                    <xs:documentation>
                        Código do arranjo de pagamentos
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="DataCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcd" type="ValorCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Valor negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_Constitr_ComplexType">
        <xs:sequence>
            <xs:element name="PriorddNegcRecbvl" type="PrioridadeCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPFCodErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF Usuário Final Recebedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFTitular" type="CNPJ_CNPJBase_CPFErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (base ou completo) ou CPF Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJCreddrSub" type="CNPJErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgtoErr">
                <xs:annotation>
                    <xs:documentation>
                        Código do arranjo de pagamentos
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="DataCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivsCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcd" type="ValorCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Valor ou Percentual Negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_Titlar_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPFErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF  Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vlr_PercTotOpUniddRecbvl" type="ValorCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Valor Total Limite ou Saldo Devedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtIniOp" type="DataCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Data Início Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtFimOp" type="DataCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Data Fim Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitlarCt" type="CNPJ_CPFCodErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular Conta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISPBBcoRecbdr" type="ISPBCodErr">
                <xs:annotation>
                    <xs:documentation>
                        ISPB Banco Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpCt" type="TpContaCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Tipo Conta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ag" type="AgenciaCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Agência.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ct" type="CtBancariaCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtPgto" type="CtPgtoCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta Pagamento.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022RET_CreddrSub" type="Grupo_ARRC022_CreddrSub_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Cred/SubCred
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022RET_ArrajPgto" type="Grupo_ARRC022_ArrajPgto_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Arranjo Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022RET_UsuFinalRecbdr" type="Grupo_ARRC022_UsuFinalRecbdr_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Usuário FInal Recebedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_Titlar_GestPart_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPFErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF  Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Grupo_ARRC022RET_DomclBanc" type="Grupo_ARRC022RET_DomclBanc_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Credenciador/SubCredenciador
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_DomclBanc_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFTitlarCt" type="CNPJ_CPFCodErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISPBBcoRecbdr" type="ISPBCodErr">
                <xs:annotation>
                    <xs:documentation>
                        ISPB Banco Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpCt" type="TpAcaoCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Tipo Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ag" type="AgenciaCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Agência
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ct" type="CtBancariaCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtPgto" type="CtPgtoCodErr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC022RET_RegRecbvl" type="Grupo_ARRC022RET_RegRecbvl_ComplexType2" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_CesAutd_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFCesAutd" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do Cessionário Autorizado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022_RenegcDiv_ComplexType">
        <xs:sequence>
            <xs:element name="IdentdOpOrRenegcDiv" type="IdentificadorOperacao">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Operação Original Renegociação Divida
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_CesAutd_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFCesAutd" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do Cessionário Autorizado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC022RET_RenegcDiv_ComplexType">
        <xs:sequence>
            <xs:element name="IdentdOpOrRenegcDiv" type="IdentificadorOperacao">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Operação Original Renegociação Divida
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>