xsd/ARRC002.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="ARRC002"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cip-bancos.org.br/ARQ/ARRC002.xsd"
           xmlns="http://www.cip-bancos.org.br/ARQ/ARRC002.xsd"
           xmlns:cat="http://www.cip-bancos.org.br/catalogomsg"
           elementFormDefault="qualified"
           version="8.6">

    <xs:include schemaLocation="ARRCTIPOS.xsd"/>

    <!-- Definição do ARRCDOC -->
    <xs:element name="ARRCDOC" type="ARRCDOCComplexType">
        <xs:annotation>
            <xs:documentation>
                <cat:InfEvento>
                    <cat:Evento>
                        ARRC002 - Baixa de Recebíveis
                    </cat:Evento>
                    <cat:Descricao>
                        Baixa de Recebíveis.
                    </cat:Descricao>
                </cat:InfEvento>
            </xs:documentation>
        </xs:annotation>
    </xs:element>


    <!-- Definição do ARRCDOC do arquivo -->
    <xs:complexType name="ARRCDOCComplexType">
        <xs:sequence>
            <xs:element name="BCARQ" type="BCARQComplexType"/>
            <xs:element name="SISARQ" type="SISARQComplexType"/>
            <xs:element name="ESTARQ" type="ESTARQSimpleType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do SISARQ -->
    <xs:complexType name="SISARQComplexType">
        <xs:choice>
            <xs:element name="ARRC002" type="ARRC002ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>Baixa de Recebíveis.</cat:Descricao>
                            <cat:Emissor>Participante</cat:Emissor>
                            <cat:Destinatario>R2C3</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ARRC002RET" type="ARRC002RETComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>Retorno Baixa de Recebíveis.</cat:Descricao>
                            <cat:Emissor>R2C3</cat:Emissor>
                            <cat:Destinatario>Participante</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <!-- Configuração de campos da Consulta -->
    <xs:complexType name="ARRC002ComplexType">
        <xs:sequence>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC002_RegRecbvlBaixa" type="Grupo_ARRC002_RegRecbvlBaixa_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Registro de Recebível para Baixa.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC002_RegRecbvlBaixa_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Usuário Final Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código Instituidor Arranjo Pagamento.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrMotvBaixa" type="IndrMotvBaixa">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Motivo Baixa.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- Fim Cmapos de Consulta -->

    <!-- Configuração de campos do Retorno -->
    <xs:complexType name="ARRC002RETComplexType">
        <xs:sequence>
            <xs:element name="SitRetReq" type="SitRet">
                <xs:annotation>
                    <xs:documentation>
                        Situação de retorno da requisição.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipanteCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipanteCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC002RET_RegRecbvlBaixaActo"
                        type="Grupo_ARRC002RET_RegRecbvlBaixaActo_ComplexType"
                        minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Registro de Recebível para Baixa Aceito.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_ARRC002RET_RegRecbvlBaixaRecsdo"
                        type="Grupo_ARRC002RET_RegRecbvlBaixaRecsdo_ComplexTypeCodErr" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Registro de Recebível para Baixa Recusado.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC002RET_RegRecbvlBaixaActo_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Usuário Final Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código Instituidor Arranjo Pagamento.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrMotvBaixa" type="IndrMotvBaixa">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Motivo Baixa.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC002RET_RegRecbvlBaixaRecsdo_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPFCodErr">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Usuário Final Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgtoErr">
                <xs:annotation>
                    <xs:documentation>
                        Código Instituidor Arranjo Pagamento.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="DataCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrMotvBaixa" type="IndrMotvBaixaCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Motivo Baixa.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_ARRC002RET_RegRecbvlBaixaRecsdo_ComplexTypeCodErr">
        <xs:annotation>
            <xs:documentation>
                Grupo Registro de Recebível para Baixa Recusado com atributo para retorno de código de erro.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Grupo_ARRC002RET_RegRecbvlBaixaRecsdo_ComplexType">
                <xs:attribute name="CodErro" type="CodErro" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- Fim Campos de Retorno -->
</xs:schema>
