xsd/RRC0009.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="RRC0009"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cip-bancos.org.br/MES/RRC0009.xsd"
           xmlns="http://www.cip-bancos.org.br/MES/RRC0009.xsd"
           xmlns:cat="http://www.cip-bancos.org.br/catalogomsg"
           elementFormDefault="qualified"
           version="8.6">

    <xs:include schemaLocation="ARRCTIPOS.xsd"/>

    <!-- Definição do RRCDOC do arquivo -->
    <xs:complexType name="RRCDOCComplexType">
        <xs:sequence>
            <xs:element name="BCMSG" type="BCMSGComplexType"/>
            <xs:element name="SISMSG" type="SISMSGComplexType"/>
            <xs:element name="USERMSG" type="USERMSGSimpleType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do SISMES -->
    <xs:complexType name="SISMSGComplexType">
        <xs:sequence>
            <xs:element name="RRC0009" type="RRC0009ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>Indr
                            </cat:Descricao>
                            <cat:Emissor>R2C3</cat:Emissor>
                            <cat:Destinatario>Participante</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do DOC -->
    <xs:element name="DOC" type="RRCDOCComplexType">
        <xs:annotation>
            <xs:documentation>
                <cat:InfEvento>
                    <cat:Evento>
                        Indr
                    </cat:Evento>
                    <cat:Descricao>
                        INSTITUIÇÃO FINANCEIRA / NÃO FINANCEIRA - CIP/REGISTRADORA
                    </cat:Descricao>
                </cat:InfEvento>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- Definição do RRC0009 -->
    <xs:complexType name="RRC0009ComplexType">
        <xs:sequence>
            <xs:element name="CodMsg" type="CodMsg" fixed="RRC0009">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfCampo>
                            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
                            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
                        </cat:InfCampo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Participante Principal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Participante Administrado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJER" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Entidade Registradora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdNegcRecbvl" type="ControleNegociacaoRecebivel">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOp" type="IdentificadorOperacao">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrTpNegc" type="IndrTpNegc">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Tipo Negociação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtVencOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Vencimento Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrTotLim_SldDevdr" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Total Limite ou Saldo Devedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vlr_Gar" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Garantia
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrGestER" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Gestão Entidade Registradora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivs">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrAlcancContrtoCreddrSub" type="IndrAlcancContrtoCreddrSub">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Alcance Contrato Credenciadoras/Subcredenciadoras
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrActeIncondlOp" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Aceite Incondicional Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrActeUniddRecbvlReserv" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Aceite Unidade de Recebível Reservada
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtHrIncl" type="DataHora">
                <xs:annotation>
                    <xs:documentation>
                        Data e Hora Inclusão.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrAutcCess" type="Indr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Autorização Cessão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0009_CesAutd" type="Grupo_RRC0009_CesAutdComplexType" minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Cessionário Autorizado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0009_RenegcDiv" type="Grupo_RRC0009_RenegcDivComplexType" minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Renegociação de Dívida
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0009_Titlar" type="Grupo_RRC0009_TitlarComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0009_CesAutdComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFCesAutd" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        Código do arranjo de pagamentos
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0009_RenegcDivComplexType">
        <xs:sequence>
            <xs:element name="IdentdOpOrRenegcDiv" type="IdentificadorOperacao">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Operação Original Renegociação Divida
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0009_TitlarComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF  Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0009_DomclBanc" type="Grupo_RRC0009_DomclBancComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0009_DomclBancComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFTitlarCt" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISPBBcoRecbdr" type="ISPB">
                <xs:annotation>
                    <xs:documentation>
                        ISPB Banco Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpCt" type="TpConta">
                <xs:annotation>
                    <xs:documentation>
                        Tipo Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ag" type="Agencia" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Agência
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ct" type="CtBancaria" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtPgto" type="CtPgto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0009_RegRecbvl" type="Grupo_RRC0009_RegRecbvlComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0009_Constitr" type="Grupo_RRC0009_ConstitrComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo a Constituir
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0009_RegRecbvlComplexType">
        <xs:sequence>
            <xs:element name="PriorddNegcRecbvl" type="Prioridade">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJCreddrSub" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código do arranjo de pagamentos
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0009_ConstitrComplexType">
        <xs:sequence>
            <xs:element name="PriorddNegcRecbvl" type="Prioridade">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJCreddrSub" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFUsuFinalRecbdr" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (base ou completo) ou CPF usuário recebedor anterior que está cedendo a UR
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código do arranjo de pagamentos
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcdConstitr" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
