xsd/RRC0005.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="RRC0005"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cip-bancos.org.br/MES/RRC0005.xsd"
           xmlns="http://www.cip-bancos.org.br/MES/RRC0005.xsd"
           xmlns:cat="http://www.cip-bancos.org.br/catalogomsg"
           elementFormDefault="qualified"
           version="8.6">

    <xs:include schemaLocation="ARRCTIPOS.xsd"/>

    <!-- Definição do DOC -->
    <xs:element name="DOC" type="RRCDOCComplexType">
        <xs:annotation>
            <xs:documentation>
                <cat:InfEvento>
                    <cat:Evento>
                        RRC0005 - Registro Atualização Recebiveis
                    </cat:Evento>
                    <cat:Descricao>
                        Registro Atualização Recebiveis.
                    </cat:Descricao>
                </cat:InfEvento>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- Definição do RRCDOC do arquivo -->
    <xs:complexType name="RRCDOCComplexType">
        <xs:sequence>
            <xs:element name="BCMSG" type="BCMSGComplexType"/>
            <xs:element name="SISMSG" type="SISMSGComplexType"/>
            <xs:element name="USERMSG" type="USERMSGSimpleType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do SISMES -->
    <xs:complexType name="SISMSGComplexType">
        <xs:choice>
            <xs:element name="RRC0005" type="RRC0005ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>Operações Negociação de Recebíveis.
                            </cat:Descricao>
                            <cat:Emissor>Participante</cat:Emissor>
                            <cat:Destinatario>R2C3</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RRC0005R1" type="RRC0005R1ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>Retorno da Operações Negociação de Recebíveis.
                            </cat:Descricao>
                            <cat:Emissor>R2C3</cat:Emissor>
                            <cat:Destinatario>Participante</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="RRC0005ComplexType">
        <xs:sequence>
            <xs:element name='CodMsg' type='CodMsg' fixed='RRC0005'>
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfCampo>
                            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
                            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
                        </cat:InfCampo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdNegcRecbvl" type="ControleNegociacaoRecebivel">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOp" type="IdentificadorOperacao" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrTpNegc" type="IndrTpNegc">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Tipo Negociação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtVencOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Vencimento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrTotLim_SldDevdr" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor Total Limite ou Saldo Devedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrGestER" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Gestão Entidade Registradora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivs">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrActeIncondlOp" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Aceite Incondicional Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrIA" type="IndrIA">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Inclusão ou Alteração.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0005_GestER" type="Grupo_RRC0005_GestER_ComplexType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Gestão Entidade Registradora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0005_GestPart" type="Grupo_RRC0005_GestPart_ComplexType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Gestão Participante
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005_GestER_ComplexType">
        <xs:sequence>
            <xs:element name="Grupo_RRC0005_Titlar" type="Grupo_RRC0005_Titlar_ComplexType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005_Titlar_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vlr_PercTotOpUniddRecbvl" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor ou Percentual Total da Operação na Unidade de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtIniOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Início Operação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtFimOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Fim Operação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitlarCt" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISPBBcoRecbdr" type="ISPB">
                <xs:annotation>
                    <xs:documentation>
                        ISPB Banco Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpCt" type="TpConta">
                <xs:annotation>
                    <xs:documentation>
                        Tipo Conta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ag" type="Agencia" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Agência.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ct" type="CtBancaria" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtPgto" type="CtPgto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta Pagamento.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0005_ArrajPgto" type="Grupo_RRC0005_ArrajPgto_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Arranjo de Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005_GestPart_ComplexType">
        <xs:sequence>
            <xs:element name="Grupo_RRC0005_Titlar" type="Grupo_RRC0005_Titlar_GestPart_ComplexType"
                        minOccurs="1"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005_Titlar_GestPart_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Grupo_RRC0005_DomclBanc" type="Grupo_RRC0005_DomclBanc_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Credenciador/SubCredenciador
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005_DomclBanc_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFTitlarCt" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISPBBcoRecbdr" type="ISPB">
                <xs:annotation>
                    <xs:documentation>
                        ISPB Banco Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpCt" type="TpConta">
                <xs:annotation>
                    <xs:documentation>
                        Tipo Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ag" type="Agencia" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Agência
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ct" type="CtBancaria" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtPgto" type="CtPgto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0005_RegRecbvl" type="Grupo_RRC0005_RegRecbvl_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005_ArrajPgto_ComplexType">
        <xs:sequence>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código Instituidor Arranjo Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005_RegRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Usuário Final Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código Instituidor Arranjo Pagamento.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor ou Percentual Negociado.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtAntec" type="Data" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Data Antecipação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtEftLiquidAntec" type="Data" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Data Efetiva Liquidação Antecipação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrEftLiquidAntec" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Efetivo Liquidação Atencipação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrAntecNRegtd" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Efetivo Liquidação Atencipação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RRC0005R1ComplexType">
        <xs:sequence>
            <xs:element name="CodMsg" type="CodMsg" fixed='RRC0005R1'>
                <xs:annotation>
                    <xs:documentation>
                        Código da Mensagem
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SitRetReq" type="SitRet">
                <xs:annotation>
                    <xs:documentation>
                        Situação de Retorno da Requisição
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdNegcRecbvl" type="ControleNegociacaoRecebivel">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Negociação de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOp" type="IdentificadorOperacao" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0005R1_NegcRecbvlActo" type="Grupo_RRC0005R1_NegcRecbvlActo_ComplexType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Negociação de Recebível Aceito
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0005R1_NegcRecbvlRecsdo" type="Grupo_RRC0005R1_NegcRecbvlRecsdo_ComplexTypeCodErr"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Negociação de Recebível Recusado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005R1_NegcRecbvlRecsdo_ComplexTypeCodErr">
        <xs:annotation>
            <xs:documentation>
                Registro de Recebível Recusado com atributo para retorno de código de erro.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Grupo_RRC0005R1_NegcRecbvlRecsdo_ComplexType">
                <xs:attribute name="CodErro" type="CodErro" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005R1_NegcRecbvlRecsdo_ComplexType">
        <xs:sequence>
            <xs:element name="Grupo_RRC0005R1_UniddRecbvlDisp" type="Grupo_RRC0005R1_UniddRecbvlDisp_ComplexTypeCodErr"
                        minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo URs Disponíveis
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005R1_UniddRecbvlDisp_ComplexTypeCodErr">
        <xs:annotation>
            <xs:documentation>
                Unidade Recebível Recusada com atributo para retorno de código de erro.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Grupo_RRC0005R1_UniddRecbvlDisp_ComplexType">
                <xs:attribute name="CodErro" type="CodErro" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005R1_UniddRecbvlDisp_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJCreddrSub" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Usuário Final Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ/CPF Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código Instituidor Arranjo Pagamento.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrTot" type="ValorCodErr">
                <xs:annotation>
                    <xs:documentation>
                        Valor Total
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrLivreTot" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Livre Total
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrLivreAntecCreddrSub" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Livre Antecipação Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPreContrd" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Previsto Pré-Contratado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrOnusResTec" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor livre para negociação de gravame e cessão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005R1_NegcRecbvlActo_ComplexType">
        <xs:sequence>
            <xs:element name="Grupo_RRC0005R1_RegRecbvl" type="Grupo_RRC0005R1_RegRecbvl_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Registro de Recebível Constituído
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0005R1_Constitr" type="Grupo_RRC0005R1_Constitr_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Registro de Recebível á Constituir
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005R1_RegRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="PriorddNegcRecbvl" type="Prioridade">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Usuário Final Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ/CPF Usuário Titular.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código Instituidor Arranjo Pagamento.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor Negociado.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0005R1_Constitr_ComplexType">
        <xs:sequence>
            <xs:element name="PriorddNegcRecbvl" type="Prioridade">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFUsuFinalRecbdr" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF Usuário Final Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF Titular.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código Instituidor Arranjo Pagamento.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivs">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor ou Percentual Negociado.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>