xsd/RRC0012.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="RRC0012"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cip-bancos.org.br/MES/RRC0012.xsd"
           xmlns="http://www.cip-bancos.org.br/MES/RRC0012.xsd"
           xmlns:cat="http://www.cip-bancos.org.br/catalogomsg"
           elementFormDefault="qualified"
           version="8.6">

    <xs:include schemaLocation="ARRCTIPOS.xsd"/>

    <!-- Definição do AR2C3DOC do arquivo -->
    <xs:complexType name="RRCDOCComplexType">
        <xs:sequence>
            <xs:element name="BCMSG" type="BCMSGComplexType"/>
            <xs:element name="SISMSG" type="SISMSGComplexType"/>
            <xs:element name="USERMSG" type="USERMSGSimpleType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do SISMES -->
    <xs:complexType name="SISMSGComplexType">
        <xs:choice>
            <xs:element name="RRC0012" type="RRC0012ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>RRC0012 - Credenciador/SubCredenciador - Pedido de Desconstituição de Garantia
                            </cat:Descricao>
                            <cat:Emissor>Participante</cat:Emissor>
                            <cat:Destinatario>R2C3</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RRC0012R1" type="RRC0012R1ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>RRC0012R1 - Credenciador/SubCredenciador - Pedido de Desconstituição de Garantia
                            </cat:Descricao>
                            <cat:Emissor>R2C3</cat:Emissor>
                            <cat:Destinatario>Participante</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <!-- Definição do DOC -->
    <xs:element name="DOC" type="RRCDOCComplexType">
        <xs:annotation>
            <xs:documentation>
                <cat:InfEvento>
                    <cat:Evento>
                        RRC0012 - Credenciador/SubCredenciador - Pedido de Desconstituição de Garantia
                    </cat:Evento>
                    <cat:Descricao>
                        CREDENCIADOR / SUBCREDENCIADOR - CIP/REGISTRADORA
                    </cat:Descricao>
                </cat:InfEvento>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- Definição do RRC0012 -->
    <xs:complexType name="RRC0012ComplexType">
        <xs:sequence>
            <xs:element name="CodMsg" type="CodMsg" fixed="RRC0012">
                <xs:annotation>
                    <xs:documentation>
                        Código da mensagem
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdCtrlReqSolicte" type="ControleParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Controle Requisição Solicitante
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOp" type="IdentificadorOperacao">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Operação enviado pela registradora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0012_RegRecbvl" type="Grupo_RRC0012_RegRecbvl_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do RRC0012RET -->
    <xs:complexType name="RRC0012R1ComplexType">
        <xs:sequence>
            <xs:element name="CodMsg" type="CodMsg" fixed="RRC0012R1">
                <xs:annotation>
                    <xs:documentation>
                        Código da mensagem
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SitRetReq" type="SitRet">
                <xs:annotation>
                    <xs:documentation>
                        Situação de Retorno da Requisição
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdCtrlReqSolicte" type="ControleParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Controle Requisição Solicitante
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOp" type="IdentificadorOperacao">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOpDescstcNegcRecbvl" type="Identificador" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação Desconsituição da Negociação de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SitPedDescstcNegcRecbvl" type="SitPedDescstcNegcRecbvl" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Situação Pedido Desconstituição Negociação de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0012_RegRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJCreddrSub" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do usuário final recebedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF do titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código do arranjo de pagamentos
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrDescst" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor Desconstituir
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
