xsd/RRC0008.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="RRC0008"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cip-bancos.org.br/MES/RRC0008.xsd"
           xmlns="http://www.cip-bancos.org.br/MES/RRC0008.xsd"
           xmlns:cat="http://www.cip-bancos.org.br/catalogomsg"
           elementFormDefault="qualified"
           version="8.6">

    <xs:include schemaLocation="ARRCTIPOS.xsd"/>

    <!-- Definição do DOC -->
    <xs:element name="DOC" type="RRCDOCComplexType">
        <xs:annotation>
            <xs:documentation>
                <cat:InfEvento>
                    <cat:Evento>
                        RRC0008 - Consulta Contratos
                    </cat:Evento>
                    <cat:Descricao>
                        Consulta Contratos.
                    </cat:Descricao>
                </cat:InfEvento>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- Definição do RRCDOC do arquivo -->
    <xs:complexType name="RRCDOCComplexType">
        <xs:sequence>
            <xs:element name="BCMSG" type="BCMSGComplexType"/>
            <xs:element name="SISMSG" type="SISMSGComplexType"/>
            <xs:element name="USERMSG" type="USERMSGSimpleType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definição do SISMES -->
    <xs:complexType name="SISMSGComplexType">
        <xs:choice>
            <xs:element name="RRC0008" type="RRC0008ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>Consulta Contratos.</cat:Descricao>
                            <cat:Emissor>Participante</cat:Emissor>
                            <cat:Destinatario>R2C3</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RRC0008R1" type="RRC0008R1ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfArquivo>
                            <cat:Descricao>Retorno Consulta Contratos.</cat:Descricao>
                            <cat:Emissor>R2C3</cat:Emissor>
                            <cat:Destinatario>Participante</cat:Destinatario>
                        </cat:InfArquivo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <!-- Configuração de campos da Consulta -->
    <xs:complexType name="RRC0008ComplexType">
        <xs:sequence>
            <xs:element name="CodMsg" type="CodMsg" fixed="RRC0008">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfCampo>
                            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
                            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
                        </cat:InfCampo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0008_NegcRecbvl" type="Grupo_RRC0008_NegcRecbvl_ComplexType">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Negociação de Recebível.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0008_NegcRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="IdentdOp" type="IdentificadorOperacao" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFUsuFinalRecbdr" type="CNPJ_CNPJBase_CPF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF Usuário Final Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF  Titular.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- Fim Cmapos de Consulta -->

    <!-- Configuração de campos do Retorno -->
    <xs:complexType name="RRC0008R1ComplexType">
        <xs:sequence>
            <xs:element name="CodMsg" type="CodMsg" fixed="RRC0008R1">
                <xs:annotation>
                    <xs:documentation>
                        <cat:InfCampo>
                            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
                            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
                        </cat:InfCampo>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SitRetReq" type="SitRet">
                <xs:annotation>
                    <xs:documentation>
                        Situação de Retorno da Requisição
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartPrincipal" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Principal.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdPartAdmtd" type="IdentificadorParticipante">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Participante Administrado.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0008R1_NegcRecbvl" type="Grupo_RRC0008R1_NegcRecbvl_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Negociação de Recebível.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0008R1_NegcRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJER" type="CNPJ">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Entidade Registradora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CPF_CNPJPartNegcdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Participante
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdNegcRecbvl" type="ControleNegociacaoRecebivel">
                <xs:annotation>
                    <xs:documentation>
                        Identificador Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentdOp" type="IdentificadorOperacao">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrTpNegc" type="IndrTpNegc">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Tipo Negociação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtVencOp" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Vencimento Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrTotLim_SldDevdr" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor Total Limite ou Saldo Devedor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vlr_Gar" type="Valor" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Valor Garantia
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrGestER" type="Indr" >
                <xs:annotation>
                    <xs:documentation>
                        Indicador Gestão Entidade Registradora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrRegrDivs" type="IndrRegrDivs">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Regra Divisão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrActeIncondlOp" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Aceite Incondicional Operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrActeUniddRecbvlReserv" type="Indr">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Aceite Unidade de Recebível Reservada
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtHrIncl" type="DataHora">
                <xs:annotation>
                    <xs:documentation>
                        Data e Hora Inclusão.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrSitOp" type="IndrSituacao" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicador de Situação da operação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrAutcCess" type="Indr" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicador Autorização Cessão
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndrTpOpOrigem" type="IndrTpOpOrigem" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicador do tipo de operação Origem
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0008R1_OpOrigem" type="Grupo_RRC0008R1_OpOrigem_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo operação origem
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0008R1_Titlar" type="Grupo_RRC0008R1_Titlar_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Grupo Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0008R1_OpOrigem_ComplexType">
        <xs:sequence>
            <xs:element name="IdentdOpOrigem" type="IdentdOperad">
                <xs:annotation>
                    <xs:documentation>
                        Identificador da operação de origem
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0008R1_Titlar_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (Completo ou Base) ou CPF  Titular
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0008R1_DomclBanc" type="Grupo_RRC0008R1_DomclBanc_ComplexType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0008R1_DomclBanc_ComplexType">
        <xs:sequence>
            <xs:element name="CNPJ_CPFTitlarCt" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ ou CPF Titular Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISPBBcoRecbdr" type="ISPB">
                <xs:annotation>
                    <xs:documentation>
                        ISPB Banco Recebedor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpCt" type="TpConta">
                <xs:annotation>
                    <xs:documentation>
                        Tipo Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ag" type="Agencia" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Agência
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ct" type="CtBancaria" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtPgto" type="CtPgto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Conta Pagamento
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0008R1_RegRecbvl" type="Grupo_RRC0008R1_RegRecbvl_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo Registro de Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Grupo_RRC0008R1_Constitr" type="Grupo_RRC0008R1_Constitr_ComplexType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Início Grupo a Constituir
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0008R1_RegRecbvl_ComplexType">
        <xs:sequence>
            <xs:element name="PriorddNegcRecbvl" type="Prioridade">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFUsuFinalRecbdr" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CPFTitular" type="CNPJ_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código do arranjo de pagamentos
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grupo_RRC0008R1_Constitr_ComplexType">
        <xs:sequence>
            <xs:element name="PriorddNegcRecbvl" type="Prioridade">
                <xs:annotation>
                    <xs:documentation>
                        Prioridade Negociação Recebível
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFUsuFinalRecbdr" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ Credenciadora/Subcredenciadora
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CNPJ_CNPJBase_CPFTitlar" type="CNPJ_CNPJBase_CPF">
                <xs:annotation>
                    <xs:documentation>
                        CNPJ (base ou completo) ou CPF usuário recebedor anterior que está cedendo a UR
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodInstitdrArrajPgto" type="CodInstitdrArrajPgto">
                <xs:annotation>
                    <xs:documentation>
                        Código do arranjo de pagamentos
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtPrevtLiquid" type="Data">
                <xs:annotation>
                    <xs:documentation>
                        Data Prevista Liquidação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VlrPercNegcd" type="Valor">
                <xs:annotation>
                    <xs:documentation>
                        Valor negociado
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>